/*
    FILE: style.css
    DATE: 2022-06-21    ISO-8601
    AUTHOR: Josh Boyles
    DESCRIPTION:  General styling
*/

body {
    background-color: rgb(252, 240, 255);
  }
  
  h1 {
    font-family: helvetica;
  }
  
  p {
    color: rgb(9, 255, 0);
  }
  
  section p.more-content {
    background-color: #160968;
    color: white;
  }
  
  .more-content {
    background-color: #e96a15;
  }